.header {
    display: grid;
    grid-template-columns: 1fr auto;
    /* İlk sütun başlık için esneklik sağlar, ikinci sütun düğme için sabit genişlik */
    align-items: center;
    /* Opsiyonel: İçerikleri dikey olarak hizalar */
    background-color: #36486b;
    height: 15vh;
    border-radius: 10px;
    padding-left: 5px;
    margin-bottom: 10px;

}

.header p-button {
    padding-right: 5px;
    color: #fff;
}

.card {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.card-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.button-group {
    display: flex;
    gap: 5px;
    /* Butonları yatay olarak hizalar */
}

