<div class="wrapper d-flex align-items-stretch">
  <nav id="sidebar">
    <div class="custom-menu">
    </div>
    <div class="img bg-wrap text-center py-4" style="opacity: .7;">
    </div>
    <ul class="list-unstyled components mb-5">
      <li class="active">
        <a href="#"><span class="pi pi-home mr-3"></span>Home</a>
      </li>
      <li>
        <a routerLink="/profile/users"><i class="pi pi-user mr-3"></i>Users</a>
      </li>
      <li>
        <a routerLink="/profile/toDoList"><i class="pi pi-book mr-3"></i>To
          Do List</a>
      </li>
      <li>
        <a (click)="logOut()"><span class="pi pi-sign-out mr-3"></span> Sign Out</a>
      </li>
    </ul>

  </nav>


  <div id="content" class="p-4 p-md-5 pt-5">
    <router-outlet></router-outlet>
  </div>
</div>